celery==4.0.0
Django==1.9.2
django-bootstrap3==7.1.0
django-cors-headers==1.2.2
django-crispy-forms==1.6.1
django-extensions==1.7.4
docutils==0.12
dodgy==0.1.9
ecdsa==0.13
Fabric==1.12.0
ipdb==0.10.1
ipython==4.0.3
prospector==0.12.4
psycopg2==2.6.2
pytest==2.8.5
python-dateutil==2.4.2
pytz==2016.10
redis==2.10.5
requests==2.9.1


