<div [ngSwitch]="isAuthenticated">

  <div *ngSwitchCase="true">
    <div class="page-header">
      <div class="row">
				<h1 class="col-sm-8">
					eTrader 
					<small>
					Ethereum trading platform and dashboard 
					</small>
				</h1>

        <div class="pull-right" style="margin-right: 20px">
          <div>
            {{user.user_name}} 
          </div>
          <div>
            <button class="btn btn-danger" (click)='signOut()'> Sign Out </button>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs nav-justified">
     <li role="presentation" [ngClass]="{'active': dashboard}"><a (click)="activate(1)">Dashboard</a></li>
     <li role="presentation" [ngClass]="{'active': profile}"><a (click)="activate(2)">Profile</a></li>
     <li role="presentation" [ngClass]="{'active': trade}"><a (click)="activate(3)">Trade</a></li>
    </ul>

    <dashboard *ngIf="dashboard"></dashboard>
  </div>
  
  <div *ngSwitchDefault>
   <div class="page-header" >
      <div class="row">
      <h1 class="col-sm-8">
          eTrader 
          <small>
          Ethereum trading platform and dashboard 
          </small>
      </h1>
      </div>
    </div>
    <login (onAuthenticated)="onAuthenticated($event)"></login> 
  </div>
</div>
