<div class="row">

  <div class="col-md-4">
    <h1> 
      Social
    </h1>
    <a 
      class="twitter-timeline"
      href="https://twitter.com/hashtag/ethereum" 
      data-widget-id="792993654851919872">
      #ethereum Tweets
    </a> 
  </div>

  <div class="col-md-4">
    <h1> 
      Current Market Prices
    </h1>
    <ul class="list-group">
    <div *ngFor='let key of arrayOfKeys'>
      <li class="list-group-item"> {{key}}: {{prices[key]}} </li>
    </div>
    </ul>
  </div>

  <div class="col-md-4">
    <h1>
      quotes
    </h1>
  </div>

</div>



